body {
    background:  #3A3B46;
    color:       #F8F8F2;
    font-family: Arial, serif;
    font-size:   12px;
}

pre {
    width:    100%;
    overflow: auto;
}

a, a:visited {
    color: #F8F8F2;
}

/*
 * HTML Renderers - General
 */

.Differences {
    width:           100%;
    border-collapse: collapse;
    border-spacing:  0;
    empty-cells:     show;
}

.Differences thead th {
    text-align:    left;
    border-bottom: 1px solid #000000;
    background:    #AAAAAA;
    color:         #000000;
    padding:       4px;
}

.Differences tbody th {
    text-align:     right;
    background:     #AAAAAA;
    color:          #272822;
    width:          4em;
    padding:        1px 2px;
    border-right:   1px solid #000000;
    vertical-align: top;
    font-size:      13px;
}

.Differences td {
    padding:     1px 2px;
    font-family: Consolas, monospace;
    font-size:   13px;
}

.Differences .Skipped {
    background: #F7F7F7;
    color:      #000000;
    display:    block;
}

.Differences ins,
.Differences del {
    text-decoration: none;
}

/*
 * HTML Side by Side Diff
 */
.DifferencesSideBySide .ChangeInsert td.Left {
    background: #008000;
}

.DifferencesSideBySide .ChangeInsert td.Right {
    background: #008000;
}

.DifferencesSideBySide .ChangeDelete td.Left {
    background: #FF8888;
    color:      #272822;
}

.DifferencesSideBySide .ChangeDelete td.Right {
    background: #FFAAAA;
    color:      #272822;
}

.DifferencesSideBySide .ChangeReplace .Left {
    background: #FFEE99;
    color:      #272822;
}

.DifferencesSideBySide .ChangeReplace .Right {
    background: #FFDD88;
    color:      #272822;
}

.DifferencesSideBySide .ChangeReplace ins,
.DifferencesSideBySide .ChangeReplace del {
    background: #EEBB00;
}

/*
 * HTML Inline Diff
 */

.DifferencesInline .ChangeReplace {
    color: #272822;
}

.DifferencesInline .ChangeReplace .Left,
.DifferencesInline .ChangeDelete .Left {
    background: #FFDDDD;
    color:      #272822;
}

.DifferencesInline .ChangeReplace .Right,
.DifferencesInline .ChangeInsert .Right {
    background: #DDFFDD;
}

.DifferencesInline .ChangeReplace ins {
    background: #008000;
}

.DifferencesInline .ChangeReplace del {
    background: #EE9999;
    color:      #272822;
}

/*
 * HTML Merged Diff
 */
.DifferencesMerged .ChangeReplace .Left,
.DifferencesMerged .ChangeDelete {
    background: #FFDDDD;
    color:      #272822;
}

.DifferencesMerged .ChangeReplace .Right,
.DifferencesMerged .ChangeInsert {
    background: #DDFFDD;
    color:      #272822;
}

.DifferencesMerged .ChangeReplace ins {
    background: #008000;
    color:      #272822;
}

.DifferencesMerged .ChangeReplace del {
    background: #EE9999;
    color:      #272822;
}

.DifferencesMerged th.ChangeDelete {
    background-image: linear-gradient(-45deg, #AAAAAA 0%, #EE9999 100%);
}

/*
 * HTML Unified Diff
 */

/* Line removed in new */
.DifferencesUnified .ChangeDelete .Left::before {
    content: "- \00a0";
}

.DifferencesUnified .ChangeDelete .Left {
    background: #EE9999;
    color:      #272822;
}

/* Line modified in old and new */
.DifferencesUnified .ChangeReplace {
    background: #FFEE99;
    color:      #272822;
    display:    table;
}

/* Line in old replaced by line in new */
.DifferencesUnified .ChangeReplace .Left:first-child:before {
    content: "\250C \00a0";
}

.DifferencesUnified .ChangeReplace .Left:before {
    content: "\251C \00a0";
}

.DifferencesUnified .ChangeReplace .Left {
    background: #FFEE99;
}

/* Line in new replaced line in old */
.DifferencesUnified .ChangeReplace .Right:last-of-type:before {
    content: "\2514 \00a0";
}

.DifferencesUnified .ChangeReplace .Right:before {
    content: "\251C \00a0";
}

.DifferencesUnified .ChangeReplace .Right {
    background: #FFEE99;
}

/* Line inserted in new */
.DifferencesUnified .ChangeInsert .Right:before {
    content: "+ \00A0";
}

/* Character inserted in line of new */
.DifferencesUnified .ChangeReplace ins {
    background: #99EE99;
}

/* Character removed from line in old */
.DifferencesUnified .ChangeReplace del {
    background: #EE9999;
}
