body {
    background:     #FFFFFF;
    font-family:    Arial;
    font-size:      12px;
}

pre {
    width: 100%;
    overflow: auto;
}

/*
 * HTML Renderers - General
 */

.Differences {
    width:              100%;
    border-collapse:    collapse;
    border-spacing:     0;
    empty-cells:        show;
}

.Differences thead th {
    text-align:     left;
    border-bottom:  1px solid #000000;
    background:     #AAAAAA;
    color:          #000000;
    padding:        4px;
}

.Differences tbody th {
    text-align:     right;
    background:     #CCCCCC;
    width:          4em;
    padding:        1px 2px;
    border-right:   1px solid #000000;
    vertical-align: top;
    font-size:      13px;
}

.Differences td {
    padding:        1px 2px;
    font-family:    Consolas, monospace;
    font-size:      13px;
}

.Differences .Skipped {
    background: #F7F7F7;
}

/*
 * HTML Side by Side Diff
 */
.DifferencesSideBySide .ChangeInsert td.Left {
    background: #DDFFDD;
}

.DifferencesSideBySide .ChangeInsert td.Right {
    background: #CCFFCC;
}

.DifferencesSideBySide .ChangeDelete td.Left {
    background: #FF8888;
}

.DifferencesSideBySide .ChangeDelete td.Right {
    background: #FFAAAA;
}

.DifferencesSideBySide .ChangeReplace .Left {
    background: #FFEE99;
}

.DifferencesSideBySide .ChangeReplace .Right {
    background: #FFDD88;
}

.Differences ins,
.Differences del {
    text-decoration: none;
}

.DifferencesSideBySide .ChangeReplace ins,
.DifferencesSideBySide .ChangeReplace del {
    background: #FFCC00;
}

/*
 * HTML Inline Diff
 */
.DifferencesInline .ChangeReplace .Left,
.DifferencesInline .ChangeDelete .Left {
    background: #FFDDDD;
}

.DifferencesInline .ChangeReplace .Right,
.DifferencesInline .ChangeInsert .Right {
    background: #DDFFDD;
}

.DifferencesInline .ChangeReplace ins {
    background: #99EE99;
}

.DifferencesInline .ChangeReplace del {
    background: #EE9999;
}

/*
 * HTML Unified Diff
 */

/* Line removed in new */
.DifferencesUnified .ChangeDelete .Left::before {
    content: "- \00a0";
}

.DifferencesUnified .ChangeDelete .Left {
    background: #CCCCCC;
}

/* Line modified in old and new */
.DifferencesUnified .ChangeReplace {
    display:    table;
    background: #FFEE99;
}

/* Line in old replaced by line in new */
.DifferencesUnified .ChangeReplace .Left:first-child:before {
    content: "\250C \00a0";
}
.DifferencesUnified .ChangeReplace .Left:before {
    content: "\251C \00a0";
}
.DifferencesUnified .ChangeReplace .Left {
    background: #fe9;
}

/* Line in new replaced line in old */
.DifferencesUnified .ChangeReplace .Right:last-of-type:before {
    content: "\2514 \00a0";
}

.DifferencesUnified .ChangeReplace .Right:before {
    content: "\251C \00a0";
}

.DifferencesUnified .ChangeReplace .Right {
    background: #FFEE99;
}

/* Line inserted in new */
.DifferencesUnified .ChangeInsert .Right:before {
    content: "+ \00A0";
}

/* Character inserted in line of new */
.DifferencesUnified .ChangeReplace ins {
    background: #99EE99;
}

/* Chararcter removed from line in old */
.DifferencesUnified .ChangeReplace del {
    background:         #EE9999;
}
