body {
    background:  #FFFFFF;
    color:       #000000;
    font-family: Arial, serif;
    font-size:   12px;
}

pre {
    width:    100%;
    overflow: auto;
}

/*
 * HTML Renderers - General
 */

.Differences {
    width:           100%;
    border-collapse: collapse;
    border-spacing:  0;
    empty-cells:     show;
}

.Differences thead th {
    text-align:    left;
    border-bottom: 1px solid #000000;
    background:    #AAAAAA;
    color:         #000000;
    padding:       4px;
}

.Differences tbody th {
    text-align:     right;
    background:     #CCCCCC;
    width:          4em;
    padding:        1px 2px;
    border-right:   1px solid #000000;
    vertical-align: top;
    font-size:      13px;
}

.Differences td {
    padding:     1px 2px;
    font-family: Consolas, monospace;
    font-size:   13px;
}

.Differences .Skipped {
    background: #F7F7F7;
    display:    block;
}

/*
 * HTML Side by Side Diff
 */
.DifferencesSideBySide .ChangeInsert td.Left {
    background: #DDFFDD;
}

.DifferencesSideBySide .ChangeInsert td.Right {
    background: #CCFFCC;
}

.DifferencesSideBySide .ChangeDelete td.Left {
    background: #FF8888;
}

.DifferencesSideBySide .ChangeDelete td.Right {
    background: #FFAAAA;
}

.DifferencesSideBySide .ChangeReplace .Left {
    background: #FFEE99;
}

.DifferencesSideBySide .ChangeReplace .Right {
    background: #FFDD88;
}

.Differences ins,
.Differences del {
    text-decoration: none;
}

.DifferencesSideBySide .ChangeReplace ins,
.DifferencesSideBySide .ChangeReplace del {
    background: #FFCC00;
}

/*
 * HTML Inline Diff
 */
.DifferencesInline .ChangeReplace .Left,
.DifferencesInline .ChangeDelete .Left {
    background: #FFDDDD;
}

.DifferencesInline .ChangeReplace .Right,
.DifferencesInline .ChangeInsert .Right {
    background: #DDFFDD;
}

.DifferencesInline .ChangeReplace ins {
    background: #99EE99;
}

.DifferencesInline .ChangeReplace del {
    background: #EE9999;
}

/*
 * HTML Merged Diff
 */
.DifferencesMerged .ChangeReplace .Left,
.DifferencesMerged .ChangeDelete {
    background: #FFDDDD;
}

.DifferencesMerged .ChangeReplace .Right,
.DifferencesMerged .ChangeInsert {
    background: #DDFFDD;
}

.DifferencesMerged .ChangeReplace ins {
    background: #99EE99;
}

.DifferencesMerged .ChangeReplace del {
    background: #EE9999;
}

.DifferencesMerged th.ChangeDelete {
    background-image: linear-gradient(-45deg, #CCCCCC 0%, #EE9999 100%);
}
