/**
* php-diff theme jdlx
* @author http://rexdev.de
* @see https://github.com/jdlx
*/

body {
  background: none repeat scroll 0 0 #EFEFEF;
  font-family: Lucida Grande,Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 10px;
}
#Info-Block {
  margin-left: 4.5em;
}
.Differences {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
}
.Differences thead {
  background: url("top-edge.png") repeat-x scroll 0 100% transparent;
}
.Differences tbody {
  background: none repeat scroll 0 0 white;
}
.Differences thead th {
  color: #000000;
  height: 3em;
  padding-left: 4.5em;
  text-align: left;
}
.Differences tbody th {
  background: none repeat scroll 0 0 #ECECEC;
  border-bottom: 1px solid silver;
  border-right: 1px solid #CFCFCF;
  color: silver;
  font-size: 12px;
  padding: 1px 2px;
  text-align: right;
  vertical-align: top;
  width: 4em;
}
.Differences tbody.Skipped th {
  border-right: 0 none;
}
.Differences td {
  font-family: monospace;
  font-size: 12px;
  padding: 1px 2px;
}
.Differences tbody.ChangeReplace {
  border-bottom: 1px solid #A0B9E3;
  border-top: 1px solid #A0B9E3;
}
.Differences tbody.ChangeInsert {
  background: url("shadow.png") repeat-x scroll 0 0 #EFEFEF;
}
.Differences tbody.ChangeDelete {
  background: url("shadow.png") repeat-x scroll 0 0 #EFEFEF;
}
.DifferencesSideBySide .ChangeInsert td.Left {
}
.DifferencesSideBySide .ChangeInsert td.Right {
  background: none repeat scroll 0 0 #CCFFCC;
}
.DifferencesSideBySide .ChangeDelete td.Left {
  background: none repeat scroll 0 0 #F9DADA;
}
.DifferencesSideBySide .ChangeDelete td.Right {
}
.DifferencesSideBySide .ChangeReplace .Left {
  background: none repeat scroll 0 0 #F1F4FA;
}
.DifferencesSideBySide .ChangeReplace .Right {
  background: none repeat scroll 0 0 #F1F4FA;
}
.Differences ins, .Differences del {
  text-decoration: none;
}
.DifferencesSideBySide .ChangeReplace ins, .DifferencesSideBySide .ChangeReplace del {
  background: none repeat scroll 0 0 #C8D5ED;
}
.Differences .Skipped {
  background: url("context-break.png") repeat-x scroll 0 50% white;
  height: 30px;
}
.Differences .Skipped tr th {
  background-color: #ECECEC;
  opacity: 0;
}
.DifferencesInline .ChangeReplace .Left, .DifferencesInline .ChangeDelete .Left {
  background: none repeat scroll 0 0 #FFDDDD;
}
.DifferencesInline .ChangeReplace .Right, .DifferencesInline .ChangeInsert .Right {
  background: none repeat scroll 0 0 #DDFFDD;
}
.DifferencesInline .ChangeReplace ins {
  background: none repeat scroll 0 0 #99EE99;
}
.DifferencesInline .ChangeReplace del {
  background: none repeat scroll 0 0 #EE9999;
}
pre {
  overflow: auto;
  width: 100%;
}
